html,
body {
    height: 100%;
}

html {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body {
    background-color: rgb(70 83 98);
    color: #c2eabd;
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

header {
    margin: 1rem 0;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.nav-bar > button {
    font-size: 1.5rem;
    width: 15ch;
    background-color: #011936;
    border-radius: 0.5rem;
    color: #c2eabd;
    padding: 0.5rem;
    border: none;
}

.nav-bar > button.selected {
    border: 2px solid white;
}

#pageHeader {
    justify-content: center;
    padding: 0.25rem 0;
    background-color: #011936;
    margin: 2rem 0 2rem;
}

#pageHeader > .title {
    width: 100%;
    text-align: center;
    color: #c2eabd;
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    max-width: 600px;
}

#content > div > div {
    background-color: rgb(1, 25, 54);
    border-radius: 1rem;
}

.home-page > div {
    padding: 0.5rem 1rem;
}

.home-page > div {
    margin: 3rem 0;
}

#content h2 {
    color: rgb(249 220 92);
}

/* Home Page */

.home-page > div:only-child {
    margin: 0;
}

.home-page > div:first-child {
    margin-top: 0;
}

.home-page > div:last-child {
    margin-bottom: 0;
}

/* Menu Page */
.menu-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
}

.item-entry {
    padding: 1rem;
}

.item-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.item-div > * {
    margin: 0;
}

/* Contact Us */

.contact-container {
    padding: 1rem;
}
